{{ partial "head.html" . }}

<body class="red-page">
    <div class="container">
        {{ partial "header.html" . }}
        <div class="row">
            <div class="col-xs-12">
                <h1 class="red-page-header">Not found</h1>
                <p class="red-page-ingress">
                    The page you were looking for could not be found. May I interest you in one of my latest articles instead?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <div class="red-article-list">
                    {{ $mainSections := .Site.Params.mainSections | default (slice "article") }}
                    {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
                    {{ range (first 3 $section)  }}
                        <div class="row red-article-list-item">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                            </div>
                            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1">
                                <div class="has-right-border is-paddle"></div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>{{ .Description }}</p>
                                <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
                            </div>
                            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 is-right hidden-small-screen">
                                <a href="{{ .Permalink }}" class="no-feedback">
                                    <img src="angle.png" class="red-read-more" alt="Go to page">
                                </a>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</body>

{{ partial "tail.html" . }}
