{{ partial "head.html" . }}

<body class="red-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="red-page-header">Not found</h1>
                <p class="red-page-ingress">
                    The page you were looking for could not be found. May I interest you in one of my latest articles< instead?
                </p>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</body>

{{ partial "tail.html" . }}
