{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

<script>
    document.addEventListener("load", () => pirschNotFound());
</script>

<article>
    <h1>Hello<span class="is-red-period">.</span></h1>
    <p>The page you were looking for could not be found. May I interest you in one of my latest articles instead?</p>

    <div class="list">
        {{ $mainSections := .Site.Params.mainSections | default (slice "article") }}
        {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
        {{ range (first 5 $section)  }}
            {{ partial "summary.html" . }}
        {{ end }}
    </div>

</article>
{{ partial "footer.html" . }}
{{ partial "icons.html" . }}
</body>

{{ partial "tail.html" . }}
