{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <article>
        <h1>Hello<span class="is-red-period">.</span></h1>
        <p>
            I'm Markus. I enjoy programming and software development. Occasionally I write something, or
            work on a piece of open-source software.
        </p>
        <p>Professionally? I am a consultant at <a href="https://factor10.com">factor10.com</a>.</p>

        <div class="list">
            {{ $mainSections := .Site.Params.mainSections | default (slice "article") }}
            {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
            {{ range (first 20 $section)  }}
            {{ partial "summary.html" . }}
            {{ end }}
        </div>
    </article>

    {{ partial "footer.html" . }}
    {{ partial "icons.html" . }}
</body>

{{ partial "tail.html" . }}
