
/* Variables *****************************************************************/
:root {
    --color-blackish: #232323;
    --color-red: #e6352b;
    --color-white: #fff;
    --color-whiteish: #efefef;
    --color-gray: #808080;
    --color-gray-vlight: #c3c3c3;
    --color-gray-dark: #1f1b1a;

    --font-xs: 0.9rem;
    --font-s: 1.1rem;
    --font-m: 1.2rem;
    --font-l: 2.2rem;
    --font-xl: 3.2rem;

    --background-color: var(--color-white);
    --code-background-color: #f8f8f8;
    --text-color: var(--color-blackish);
    --dim-text-color: var(--color-gray);
    --icon-color: var(--color-gray);
}


@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--color-gray-dark);
        --text-color: var(--color-whiteish);
        --text-color: #b8b8b8;
        --dim-text-color: var(--color-gray-vlight);
        --icon-color: var(--color-gray)
    }
}

html {
    font-family: 'Georgia', serif;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.2rem;
    font-size: var(--font-m);
    font-weight: 200;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    max-width: 1400px;
    width: 87.5%;
    padding-left: 12.5%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-bottom: 4rem;
}

ul.social {
    padding: 0;
}

ul.social li {
    list-style-type: none;
    float: left;
}

ul.social li + li {
    padding-left: 1rem;
}

#face {
    float:left;
    margin-left: -179px;
    margin-top: 60px;
    width: 140px;
    display: none;
}

p {
    width: 55%;
    line-height: 1.4rem;
}

p.preamble {
    line-height: 1.5rem;
    font-style: oblique;
}

h1 {
    font-weight: 400;
    font-size: var(--font-l);
    line-height: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 400;
    font-size: var(--font-l);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 600;
    font-size: var(--font-l);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

a,
a:active,
a:hover,
a:visited {
    color: var(--text-color);
    text-decoration: underline;
    font-weight: 400;
    word-break: break-word;
    text-decoration-color: var(--color-red);
}

a:hover {
    text-decoration-color: var(--color-blackish);
}

pre {
    display: block;
    line-height: 1rem;
    background-color: var(--code-background-color);
    width: 55%;
    margin: 0 -1rem;
    padding: 1rem;
    word-break: break-word;
    white-space: preserve;
}

code {
    background: none;
    font-size: 1rem;
}

strong {
    font-weight: 600;
}

time {
    display: block;
    width: 55%;
    margin: 2rem 0 3rem 0;
    font-size: var(--font-s);
}

footer p {
    font-size: var(--font-s);
    line-height: 1.2rem;
    font-weight: 200;
}

article blockquote {
    font-style: oblique;
    margin: 38px 0 38px 0;
    padding-left: 1rem;
    border-left: 4px solid var(--color-red);
    -webkit-margin-start: 0;
}

article ul,
article ol {
    width: 55%;
    line-height: 1.25rem;
    padding-left: 1rem;
}

article ul li {
    list-style-type: none;
}

article ul li + li,
article ol li + li {
    margin-top: 0.5rem;
}

article ul li:before {
    content: "-";
    color: var(--color-red);
    font-weight: 600;
    margin-right: 8px;
}

.list {
    margin: 4rem 0;
}

.list-item + .list-item {
    margin-top: 1.5rem;
}

.list-item time {
    color: var(--dim-text-color);
    display: inline-block;
    margin: 0;
}

.is-red-period {
    color: var(--color-red);
}

.is-icon {
    width: 16px;
    height: 16px;
    stroke: var(--icon-color);
}

a.no-feedback,
a.no-feedback:active,
a.no-feedback:hover,
a.no-feedback:visited {
    border-bottom: none;
}

header .logo {
    margin-top: 3em;
    margin-bottom: 3em;
}

header .logo a,
header .logo a:active,
header .logo a:hover,
header .logo a:visited {
    border: none;
    font-weight: 200;
    font-size: var(--font-l);
}

@media only screen and (min-width: 48em) {
    /* Large screen **********************************************************/
}

@media only screen and (max-width: 48em) {
    /* Small screen **********************************************************/
    body {
        width: 90%;
        padding: 0;
    }

    article p,
    article ul,
    article ol {
        width: 100%;
    }

    article ul {
        padding-left: 1rem;
    }

    pre {
        width: 100%;
        margin: 0 -1rem;
        padding: 1rem;
    }

    .list-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .list-item a {
        align-self: flex-start;
    }

    .list-item time {
        font-size: var(--font-xs);
    }

    footer p {
        width: 100%;
    }
}
