body {
    font-family: 'Georgia', serif;
    color: #232323;
    line-height: 1.4;
    text-align: justify;
    font-size: 1.3em;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a,
a:active,
a:hover,
a:visited {
    color: #080808;
    text-decoration: none;
    font-weight: 600;
    word-break: break-word;
}

a:hover {
    border-bottom: 1px solid #080808;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.0em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

h4 + p {
    margin-top: 0px;
}

pre {
    font-family: 'Inconsolata', monospace;
    padding: 0em;
    margin: 0px;
    white-space: pre-wrap;
    word-wrap: break-word
}

pre > code,
.hljs {
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    padding-left: 30px;
}

/* Grid *********************************************************************/

.tidy-page {
    box-sizing: border-box;
    margin: 0px auto;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 65rem;
}

/* Single article ***********************************************************/

.tidy-article h1,
.tidy-article h2,
.tidy-article h3 {
    text-align: center;
}

.tidy-article-header {
    text-align: center;
    padding-top: 0em;
    padding-bottom: 3em;
}

.tidy-article-taxonomies,
.tidy-article-date {
    color: #666;
    font-size: smaller;
}

.tidy-article-ingress {
    font-style: oblique;
    padding-bottom: 1em;
    width: 80%;
    margin: 0px auto;
    font-weight: 200;
}

.tidy-article-body a,
.tidy-article-body a:active,
.tidy-article-body a:hover,
.tidy-article-body a:visited {
    border-bottom: 1px solid #080808;
}

/* List of article **********************************************************/

.tidy-list {
    margin-top: 2em;
}

/* Landing page *************************************************************/

.tidy-page-header,
.tidy-landing-header {
    text-align: left;
}

.tidy-page-header h4:after {
    border-bottom: 1px solid #39a5f0;
    content: '';
    width: 16px;
    display: block;
    height: 2px;
}
.tidy-page-header h4 a,
.tidy-page-header h4 a:active,
.tidy-page-header h4 a:hover,
.tidy-page-header h4 a:visited {
    text-decoration: none;
    border-bottom: none;
}

.tidy-landing-header:after {
    border-bottom: 2px solid #39a5f0;
    content: '';
    width: 96px;
    display: block;
    height: 2px;
}

.tidy-landing-bio {
    font-size: smaller;
    font-style: italic;
}

.tidy-landing-email a,
.tidy-landing-email a:active,
.tidy-landing-email a:hover,
.tidy-landing-email a:visited {
    font-size: smaller;
    font-style: italic;
    border: none;
    color: #080808;
    text-decoration: none;
    font-weight: normal;
}

/* Page header **************************************************************/

.tidy-header h2 {
    margin-top: 0.5em;
}

.tidy-header h2 a,
.tidy-header h2 a:active,
.tidy-header h2 a:hover,
.tidy-header h2 a:visited {
    border: none;
}

/* Page footer *************************************************************/

.tidy-page-footer {
    padding: 2em 0;
    font-size: 0.85em;
}

.tidy-page-footer-header {
    text-align: left;
}

.tidy-page-footer-header:after {
    border-bottom: 2px solid #39a5f0;
    content: '';
    width: 48px;
    display: block;
    height: 2px;
}

.tidy-page-footer-header a,
.tidy-page-footer-header a:active,
.tidy-page-footer-header a:hover,
.tidy-page-footer-header a:visited {
    border: none;
    font-weight: 200;
}

.tidy-page-footer-bio {
    font-size: smaller;
    font-style: italic;
}

.tidy-page-footer-email a,
.tidy-page-footer-email a:active,
.tidy-page-footer-email a:hover,
.tidy-page-footer-email a:visited {
    font-size: smaller;
    font-style: italic;
    border: none;
    color: #080808;
    text-decoration: none;
    font-weight: normal;
}

.tidy-page-footer-fineprint {
    text-align: center;
    font-size: 0.85em;
    margin: 4em 0 2em 0;
}

.tidy-page-footer-fineprint a,
.tidy-page-footer-fineprint a:active,
.tidy-page-footer-fineprint a:hover,
.tidy-page-footer-fineprint a:visited {
    color: #666;
    text-decoration: none;
    font-weight: 200;
    border: none;
}

.tidy-page-footer-menu {
    float: right;
    margin-top: 110px;
}

.tidy-page-footer-menu li {
    list-style: none;
    float: left;
    margin-right: 1em;
    font-size: 0.9em;
}
