body {
    font-family: 'Georgia', serif;
    color: #232323;
    line-height: 1.3;
    font-size: 1.2em;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a,
a:active,
a:hover,
a:visited {
    color: #080808;
    text-decoration: none;
    font-weight: 600;
    word-break: break-word;
    border-bottom: 2px solid #e6352b;
}

a:hover {
    border-bottom: 2px solid #e6352b;
}

a.no-feedback:hover {
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    margin-bottom: 1em;
    margin-top: 1.5em;
    word-break: break-word;
}

h1 {
    font-size: 4.0em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.0em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

h4 + p {
    margin-top: 0px;
}

pre,
code {
    background-color: #f9f9f9;
    font-family: 'Inconsolata', monospace;
    padding: 0em;
    margin: 0px;
    white-space: pre-wrap;
    word-wrap: break-word
}

code {
    padding: .25rem;
}

pre > code,
.hljs {
    background-color: #f9f9f9;
    padding: 30px;
}

blockquote {
    font-style: oblique;
    margin: 38px 0px 38px 0px;
    padding-left: 10px;
    border-left: 4px solid #e6352b;
    -webkit-margin-start: 0px;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "-";
    color: #e6352b;
    font-weight: 600;
    margin-right: 8px;
}

time {
    font-size: smaller;
}

/* Common *******************************************************************/

.break                  { clear: both; }
.has-left-border        { border-left: 1px solid #e6352b; }
.has-right-border       { border-right: 1px solid #e6352b; }
.is-paddle              { margin: 0 auto; height: 100%; width: 0 }
.is-left                { text-align: left; }
.is-right               { text-align: right; }
.is-red-period          { color: #e6352b; }
.spacer                 { margin: 32px 0; }

/* Grid *********************************************************************/

.red-page {
    box-sizing: border-box;
    margin: 2em auto;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.hidden-big-screen { display: none; }

@media only screen and (min-width: 48em) {
    .container {
        width: 64rem;
    }

}

@media only screen and (max-width: 48em) {
    .hidden-small-screen {
        display:none;
    }

    .hidden-big-screen {
        display: block;
    }
}

/* Landing page *************************************************************/

.red-landing-bio {
    font-size: smaller;
    font-style: italic;
}

.red-landing-header {
    margin-top: 0em;
    margin-bottom: 0.5em;
    /*text-align: right;*/
}

.red-landing-email a,
.red-landing-email a:active,
.red-landing-email a:hover,
.red-landing-email a:visited {
    font-size: smaller;
    font-style: italic;
    border: none;
    color: #080808;
    text-decoration: none;
    font-weight: normal;
}

.red-landing-affiliation {
    font-size: smaller;
    font-style: italic;
    padding-bottom: 10px;
}

.red-landing-affiliation img {
    position: relative;
    top: 15px;
}

ul.red-landing-social {
    padding-top: 1em;
}

.red-landing-social li {
    list-style-type: none;
    float: left;
    margin-right: 14px;
}

.red-landing-social li:before {
    display: none;
}

.red-social img {
    width: 42px;
    height: 42px;
}

/* List of articles *********************************************************/

.red-article-list h3 {
    color: #e6352b;
    margin-top: 0.5em;
}

.red-article-list-item {
    margin-top: 3em;
    margin-bottom: 3em;
    font-style: oblique;
}

.red-article-list-item p {
    padding-left: 0em;
}

.red-read-more {
    padding-top: 1em;
}

a.no-feedback,
a.no-feedback:active,
a.no-feedback:hover,
a.no-feedback:visited {
    border-bottom: none;
}

.red-article-archive {
    text-align: center;
    padding: 32px 0 64px 0;
}

a.red-big-link,
a.red-big-link:active,
a.red-big-link:hover,
a.red-big-link:visited {
    color: #e6352b;
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
    border: none;
}

/* Page header **************************************************************/

.red-page-header h2 {
    margin-top: 1em;
    margin-bottom: 0em;
}

.red-page-header h2 a,
.red-page-header h2 a:active,
.red-page-header h2 a:hover,
.red-page-header h2 a:visited {
    border: none;
    font-weight: 200;
}

/* Single article ***********************************************************/

h1.red-article-title {
    color: #e6352b;
}

.red-article h1,
.red-article h2,
.red-article h3 {
    text-align: center;
}

.red-article-taxonomies {
    color: #666;
    font-size: smaller;
}

.red-article-ingress {
    font-style: oblique;
    padding-bottom: 2em;
    width: 80%;
    margin: 0px auto;
    font-weight: 200;
    text-align: center;
}

.red-article-body a,
.red-article-body a:active,
.red-article-body a:hover,
.red-article-body a:visited {
    border-bottom: 2px solid #e6352b;
}

.red-article-tags {
    margin-top: 2em;
}

.red-article-tags .red-label {
    color: #333334;
    margin-bottom: 0.5em;
    font-weight: 200;
    font-size: smaller;
}

a.red-tag {
    background-color: #e6352b;
    color: white;
    font-weight: 200;
    font-size: smaller;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 24px;
    padding: 8px 16px;
    margin: 8px 2px;
}

a.red-tag:hover {
    border: none;
    background-color: #B30200;
}

.red-article-post-scriptium {
    margin-top: 3em;
}

/* Footer */

footer {
    margin-top: 4em;
}

footer h1 {
    text-align: right;
}

ul.red-landing-social {
    padding-top: 1em;
}

footer ul.red-signature-social li {
    list-style-type: none;
    margin-bottom: 14px;
}

