<footer>
    <h1>{{ .Site.Params.author }}<span class="is-red-period">.</span></h1>
    <p>{{ .Site.Params.authorBio }}</p>
    <p>
        <a href="mailto:{{ .Site.Params.authorEmail }}" class="no-feedback">{{ .Site.Params.authorEmail }}</a>
    </p>
    <ul class="social">
        {{ range .Site.Menus.footer }}
            <li>
                <a href="{{ .URL }}" class="no-feedback">
                    <svg class="is-icon">{{ .Pre }}"</svg>
                </a>
            </li>
        {{ end }}
    </ul>
</footer>
