<div class="row red-article-list-item">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1">
        <div class="has-right-border is-paddle"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>{{ .Description }}</p>
        <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 is-right hidden-small-screen">
        <a href="{{ .Permalink }}" class="no-feedback">
            <img src="/angle.png" class="red-read-more" alt="Go to page">
        </a>
    </div>
</div>
