{{ partial "head.html" . }}

<body class="tidy-page">
    <div class="container">
        <div class="row">
            <div class="col-xs">
                <h1 class="tidy-page-header">{{ .Title}}.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <div class="tidy-list">
                    {{ range first 3 .Data.Pages }}
                        <h4 class="tidy-list-title"><a href="{{ .Permalink }}">&gt; {{ .Title }}</a></h4>
                    {{ end }}
                    <h4 class="tidy-list-title"><a href="/article/">&gt; More...</a></h4>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
</body>

{{ partial "tail.html" . }}
