{{ partial "head.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

<body class="tidy-page">
    <div class="container">
        <div class="row">
            <article class="tidy-article">
                <header class="tidy-article-header">
                    <h1 class="tidy-article-title">{{ .Title }}</h1>
                    <div class="tidy-article-ingress">
                        <p>{{ .Description }}</p>
                        <span class="tidy-article-taxonomies">
                            {{ with $categories }}
                                Posted in
                                {{ range $categories }}
                                    <a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}

                            {{ with $tags }}
                                with tags
                                {{ range $tags }}
                                    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}
                            {{ if or $categories $tags }} at {{ end }}
                        </span>
                        <time class="tidy-article-date">
                            {{ .Date.Format "Monday, January 2, 2006" }}
                        </time>
                    </div>
                </header>
                <section class="tidy-article-body">
                    {{ .Content }}
                </section>
            </article>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

{{ partial "tail.html" . }}
