{{ partial "head.html" . }}

<body class="tidy-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="tidy-landing-header">{{ .Site.Params.author }}.</h1>
                <p class="tidy-landing-bio">
                    {{ .Site.Params.authorBio }}
                </p>
                <p class="tidy-landing-email">
                    <a href="mailto:{{ .Site.Params.authorEmail }}">{{ .Site.Params.authorEmail }}</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <div class="tidy-list">
                    {{ range first 3 .Data.Pages }}
                        <h4 class="tidy-list-title"><a href="{{ .Permalink }}">&gt; {{ .Title }}</a></h4>
                    {{ end }}
                    <h4 class="tidy-list-title"><a href="{{.Site.BaseURL}}/article">More...</a></h4>
                </div>
            </div>
        </div>
    </div>
</body>

{{ partial "tail.html" . }}
