    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        var burger = document.getElementById('menu-initiator');
        var menu = document.getElementById('tidy-page-menu');

        function _toggleClass(e, className) {
            if (e.classList) {
                if (e.classList.contains(className)) {
                    e.classList.remove(className);
                } else {
                    e.classList.add(className);
                }
            } else {
                if (e.className.indexOf(className) !== -1) {
                    e.className = e.className.replace(className, '');
                } else {
                    e.className += ' ' + className;
                }
            }
        }

        function toggleMenu() {
            _toggleClass(burger, 'is-active');
            _toggleClass(menu, 'is-active');
            //menu.style.display == 'block' ? menu.style.display = 'none' : menu.style.display = 'block';
        }
    </script>
</html>
